<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span id="movie">Movies</span>
        <span class="example-spacer" style="margin-left: 250px">
            <mat-form-field>
                <input matInput value="Search" [(ngModel)]="movieTitle">
                <button (click)="onSearch()" mat-raised-button color="accent" style="margin-left: 20px">Search</button>
            </mat-form-field>
        </span>
        
     
                <button (click)="onClick()" mat-raised-button color="accent" style="margin-left: 640px">Wishlist</button>
    
    </mat-toolbar-row>
</mat-toolbar>
<br>

<!-- <div align="center" (click)="onSearch()">
        <input type="text"  alt="OmDb" name="type" width="48" height="4" [(ngModel)]="movieTitle" placeholder="Search OmDb database">
        <br>
        <br>
        <button class="btn btn-primary" type="search">Search Movie DataBase</button>
      </div> -->
<mat-grid-list cols="4" rowHeight="100px">
    <div *ngFor="let movie of omdbMovie">
        <mat-grid-tile colspan="1" rowspan="6">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{movie.Title}}</mat-card-title>
                    <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{movie.Poster}} alt="Movie Poster" height="400px">
                <mat-card-actions>
                    <button mat-flat-button color="warn" (click)="onSubmit(movie)">Add to watchList</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
    <div *ngFor="let movie of movies">
        <mat-grid-tile colspan="1" rowspan="6">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{movie.title}}</mat-card-title>
                    <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{movie.poster}} alt="Movie Poster" height="400px">
                <mat-card-actions>
                    <button mat-flat-button color="warn" (click)="onDelete(movie)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
</mat-grid-list>